/* Couleur de fond pour la page */
body {
    background-color: #f8f8f8;
    font-family: 'Helvetica Neue', sans-serif;
  }
  
  /* Centrer le formulaire */
  form {
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  
  /* Style pour les champs de saisie */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Style pour les boutons */
  input[type="submit"], input[type="reset"] {
    background-color: #da0909;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #da0909;
  }
  
  /* Style pour les liens */
  a {
    color: #da0909;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Style pour le message d'erreur */
  .error {
    color: red;
    margin-bottom: 20px;
  }